Marmara_Turk_and_Global_Turk_Internship/Backup/Linux/back/
Marmara_Turk_and_Global_Turk_Internship/Backup/Linux/__pycache__/
Marmara_Turk_and_Global_Turk_Internship/Backup/Windows/back/
Marmara_Turk_and_Global_Turk_Internship/Yillik_İzin_Hakediş_Hesaplama/.venv/
Marmara_Turk_and_Global_Turk_Internship/Yillik_İzin_Hakediş_Hesaplama/personal_izin.db
